:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --main-bg: #fff;
  --second-bg: #2F303A;
  --third-bg: #F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background: var(--main-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus {
  background: var(--btn-hover-color);
}

.visually-hidden { 
  position: absolute; 
  white-space: nowrap; 
  width: 1px; 
  height: 1px; 
  overflow: hidden; 
  border: 0; 
  padding: 0; 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%); 
  margin: -1px; 
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
}

/* header */
.header .logo-second-word {
  color: var(--main-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
}

.header-contacts .header-link {
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* banner */
.banner {
  background: var(--second-bg);
}

.banner-title {
  color: var(--third-text-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
}

/* advantages */
.advantage-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.advantage-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* team */
.team {
  background: var(--third-bg);
}

.team-member__description {
  background: var(--main-bg);
}

.team-member__title, 
.team-member__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team-member__text {
  color: var(--second-text-color);
}

/* portfolio */
.filter__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
}

.filter__item:hover,
.filter__item:focus {
  background: var(--accent-color);
  color: var(--third-text-color);
}

/* projects */
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

/* footer */
.footer {
  background: var(--second-bg);
}

.footer .logo-second-word {
  color: var(--third-text-color);
}

.address {
  font-style: normal;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.location {
  color: var(--third-text-color);
}